:root {
	--main: #000000;
	--back: #F4F4F4;
	--accent: #DD1144;
	--substrate: #FFFFFF;
	--not-active: #737373;
	--not-active2: #B7B7B7;
	--substrate2: #E3E3E3;
}

.grid-pc {
	display: grid;
	grid-template-columns: repeat(6, auto);
	gap: 0px 45px;
	margin-left: 60px;
	margin-right: 60px;
}

.grid-mobile {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 0px 20px;
	margin-left: 32px;
	margin-right: 32px;
}

#our-advantage h2 {
	grid-column: 1 / 6;
}

#our-advantage aside {
	grid-column: 1 / 3;
}

#our-advantage dl {
	display: flex;
	grid-column: 3 / 6;
	flex-direction: column;
	row-gap: 120px;
}

.description-item {
	background-color: var(--accent);
	color: var(--substrate);
	border-radius: 22px;
	max-width: 450px;
}

.description-item dt {
	padding-top: 80px;
	padding-left: 42px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
}

.description-item dd {
	opacity: 0%;
}

.see-more-arrow {
	opacity: 100%;
	padding-top: 6px;
	padding-left: 42px;
	padding-bottom: 28px;
}