@font-face {
    font-family: 'Wremena Bold';
    src:
        url('https://media.uprock.school/fonts/Wremena/WremenaBold.otf') format('truetype');
}

:root {
    --highlited: #DD1144;
    --main: #000000;
}

#what-is {
    min-height: 512px;
    max-width: 1018px;
    padding: 60px;
}

#what-is header {
    animation-duration: 2s;
    animation-name: slideheader;
}

@keyframes slideheader {
    from {
      translate: 0 -100%;
      opacity: 0;
    }
  
    to {
      translate: 0 0;
      opacity: 1;
    }
}

#what-is header h2 {
    font-family: "Wremena Bold", sans-serif;
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    line-height: 3.2rem;

    margin-top: 4px;
}

#what-is header .pre-title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    letter-spacing: 0.06em;
    line-height: 1.8rem;
}

#what-is p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.06em;
    line-height: 30px;

    margin-top: 33px;

    animation-duration: 2s;
    animation-name: slidep;
}

@keyframes slidep {
    from {
      translate: 0 100%;
      opacity: 0;
    }
  
    to {
      translate: 0 0;
      opacity: 1;
    }
}

.red-highlited {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: var(--highlited);
    font-weight: 600;
}