.grid-pc {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0px 45px;
	margin-left: 60px;
	margin-right: 60px;
}

.grid-mobile {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0px 20px;
	margin-left: 32px;
	margin-right: 32px;
}

/* ИНТЕРФЕЙС */

#ui {
	position: fixed;
	top: 0;
	left: 0;
	width: 90.6%;
	pointer-events: none;
}

#account {
	grid-column: 1 / 5;
	height: fit-content;
}

/* навигационная панель */

#nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	grid-column: 12 / 13;
}

.navmenu {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.navline {
	align-self: center;
	background-color: var(--accent);
	height: 11vh;
	width: 2px;
}

.navline.bracket-line {
	height: 21vh;
}

.navpoint {
	width: fit-content;
	height: fit-content;
	margin-top: -2px;
	margin-bottom: -9px;
}

/* плашка с аккаунтом */

/* ПРЕИМУЩЕСТВА */

/* заголовок */

.overflow-wrapper {
	grid-column: 1 / 11;
	overflow: hidden;
}

.overflow-wrapper h2 {
	font-family: "Wremena Bold", sans-serif;
  font-size: 50px;
  letter-spacing: 0.1em;
  line-height: 3.2rem;
	margin-bottom: 80px;
	opacity: 1;
}

.pre-title {
	display: block;
	font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 45px;
}

/* sticky телефон */

#our-advantage aside {
	grid-column: 1 / 5;
}

#phone-3 {
	position: sticky;
	left: 7%;
	top: 130px;
}

/* плашки с преимуществами */

#advantages {
	display: flex;
	grid-column: 5 / 11;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.description-item {
	background-color: var(--accent);
	color: var(--substrate);
	border-radius: 22px;
	width: 65%;
}

.description-item dt {
	padding-top: 80px;
	padding-left: 10%;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 2px;
	width: 95%;
}

.description-item dd {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	opacity: 0;
	padding-left: 10%;
	margin-top: -3%;
	width: 95%;
	height: 60px;
}

.see-more-arrow {
	padding-left: 10%;
	padding-bottom: 5%;
}