/* Account NavBar */

.account-navbar {
    position: absolute;
    top: 31px;
    left: -55px;


    height: fit-content;
    width: fit-content;

    border-radius: 11px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;

    padding-left: 20px;
    padding-right: 20px;

    background-color: black;
    pointer-events: all;
    cursor: pointer;

    z-index: 30;
}

.partitions-image {
    cursor: pointer;
}

.partitions-image__wrapper {
    display: none;
    height: 0;
}

.no-seen {
    display: none;
}

.account-navbar > .account-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.account-navbar__icon {
    display: inline-block;
    width: 12px;
}

.account-navbar__image-anchor {
    display: none;
}

.account-navbar__image {
    margin-left: 13px;
}

.account-navbar__text {
    display: inline-block;
    
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: calc(11px + 5 * (100vw / 1440));
    letter-spacing: 0.07em;
    line-height: 1rem;
    text-wrap: nowrap;

    margin-left: 0;
    width: 0;
    overflow: hidden;

    color: var(--substrate);

    cursor: pointer;
    user-select: none;
}

.account-navbar__clickable {
    transition: 0.3s;
}

.account-navbar__clickable:hover {
    color: var(--accent);
    cursor: pointer;
}

/* Second screen */

#what-is {
    height: 100vh;
    max-height: 1024px;
    grid-template-rows: 40% auto;
}

#what-is h2 {
    grid-column: 1 / 11;
    font-family: "Wremena Bold", sans-serif;
    font-size: calc(28px + 36 * (100vw / 1440));
    letter-spacing: 0.1em;
    line-height: 1em;
    align-self: end;
}

.phone__what-is__wrapper {
    display: none;
}

#what-is p {
    grid-column: 1 / 10;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: calc(15px + 5 * (100vw / 1440));
    letter-spacing: 0.06em;
    line-height: 30px;

    margin-top: 33px;
}


.red-highlited {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: var(--accent);
    font-weight: 600;
}

/*                   form                   */

.buy-tokens {
    position: relative;
    grid-template-rows: 20% auto;
    left: 0px;
    height: fit-content;
    background-color: var(--back);
    z-index: 1;
}

.buy-tokens__title {
    display: block;
    align-self: end;
    grid-column: 1 / 5;
    font-family: "Wremena Bold", sans-serif;
    font-size: calc(28px + 36 * (100vw / 1440));
    letter-spacing: 0.1em;
    line-height: 1em;
    margin-top: 4em;
}

.buy-tokens__title_post-title {
    display: block;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: calc(14px + 6 * (100vw / 1440));
    letter-spacing: 0.06em;
    line-height: 1em;

    color: var(--not-active);
    padding-left: 10px;
}

.buy-tokens__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 45px;
    align-items: center;
    grid-column: 1 / 11;
}

.buy-tokens-form {
    background-color: var(--substrate);
    margin-top: 50px;
    padding: 30px;
    border-radius: 22px;
    max-width: 700px;
    width: 51%;
    height: fit-content;
}

.account-info-form__user-image, .account-info-form__username {
    display: inline;
}

.account-info-form__username {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.07em;
    line-height: 1rem;

    margin-left: 10px;
}

.form-legend {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: 2rem;
    letter-spacing: 0.06em;

    color: var(--accent);
}

.form-label {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.06em;
    line-height: 1rem;

    color: var(--not-active)
}

.buy-tokens-form__tokens_count {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.08em;
    line-height: 1rem;

    color: var(--not-active)
}

.buy-tokens-form__tokens_count span {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.08em;
    line-height: 1rem;

    color: var(--main)
}

.buy-tokens-form__fields__header {
    padding: 0;
    margin: 0;
}

.buy-tokens-form__fields__amount-panel__balance span, .buy-tokens-form__fields__amount-panel__balance {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1.2rem;
    letter-spacing: 0.07em;
    line-height: 1.2rem;

    color: var(--substrate);
}

.buy-tokens-form__fields__amount-panel__balance {
    background-color: var(--main);
    padding: 8.5px 20px;
    border-radius: 10px;
}

.form-input {
    display: block;
    width: 100%;
    margin-top: 10px;

    border-radius: 10px;
    border-width: 0;
    background-color: var(--back);
    padding: 8.5px 20px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.02em;
    line-height: 1rem;

    color: var(--not-active);

    resize: none;
}

.form-input::placeholder {
    color: var(--not-active);
}

.form-input:focus {
    outline: none;
    color: var(--main);
    background-color: var(--substrate2);
}

.buy-tokens-form__fields__header {
    margin-top: 10px;
}

.buy-tokens-form__fields__amount-panel {
    margin-top: 20px;
}

.buy-tokens-form__fields__amount-panel__balance {
    margin-top: 10px;
}

.buy-tokens-form__fields__input_balance {
    margin-top: 20px;
}

.buy-tokens-form__tokens_count {
    margin-top: 17px;
    text-align: right;
}

.form-submit {
    margin-top: 20px;
    padding: 20px 13.5px;

    border-radius: 10px;
    border-width: 0;

    background-color: var(--accent);
    color: var(--substrate);
    cursor: pointer;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1rem;
    letter-spacing: 0.07em;
    line-height: 1rem;

    text-decoration: none;

    display: inline-block;
}

form-submit:hover {
    cursor: pointer;
}

.tokens-description {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    font-size: calc(15px + 5 * (100vw / 1440));
    letter-spacing: 0.06em;

    background-color: var(--substrate);
    padding: 25px 10px 25px 10px;
    margin-top: 120px;
    height: fit-content;
    max-width: 500px;
    width: 42%;

    border-radius: 22px;
}

.tokens-description p span {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 1em;
    letter-spacing: 0.06em;

    color: var(--accent);
}

.tokens-description__star {
    margin: 0 auto 10px auto;
}

.tokens-description__middle-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*                   footer                   */

.footer {
    height: fit-content;
    padding-bottom: 30px;
}

.coloriser {
    background-color: var(--back);
}

.footer_main-screen {
    grid-column: 1 / 11;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer__name-market {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__name {
    width: 70%;
    max-width: 300px;
    margin-bottom: 32px;
}

.footer__market {
    display: flex;
    width: 100%;
    max-width: 500px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__appgallery, .footer__googleplay {
    display: inline;
    width: 45%;
    min-width: 184px;
}

.footer__fund {
    grid-column: 5 / 12;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px 53px;
}

.footer__fund-img {
    max-width: 173px;
}

.footer__fund-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: calc(14px + 5 * (100vw / 1440));
    line-height: 1.1em;
    letter-spacing: 0.01em;

    max-width: 840px;
}

.footer__contacts {
    grid-column: 1 / 5;
    margin-top: 32px;
}

.footer__company-data {
    grid-column: 1 / 5;
    margin-top: 32px;
}

.footer__contacts, .footer__company-data {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: calc(14px + 2 * (100vw / 1440));
    line-height: 1.1em;
    letter-spacing: 0.06em;

    color: var(--not-active);
}

.footer__contacts__telephone {
    font-family: "Inter", sans-serif;
}

.footer__socip {
    grid-column: 1 / 8;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;

    margin-top: 32px;
}

/* Dialog register */

.dialog-wrapper {
    position: fixed;
}

.dialog {
    width: 404px;
    padding: 0;

    position: fixed;
    left: 50%;
    margin-left: -202px;
    top: 100px;

    z-index: 100;
}



.dialog__exit-button {
    width: fit-content;
    height: fit-content;
    margin-left: 95%;
    cursor: pointer;
}

.dialog-viewport {
    padding: 42px;
}

.dialog__header {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.08em;

    text-align: center;

    margin-bottom: 40px;
}

.dialog-form__checkbox {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.05em;

    margin-top: 20px;

    display: flex;
}

.dialog-form__checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;

    accent-color: var(--accent);
    vertical-align: middle;

    margin-right: 10px;
}

.dialog-form__checkbox label {
    vertical-align: middle;
}

.dialog-form__field {
    margin-top: 20px;
}

.dialog-form__submit {
    width: 100%;
}

.dialog-form__info {
    margin-top: 20px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.06em;

    text-align: center;
}

.dialog-form__info_higlited {
    color: var(--accent);
    cursor: pointer;
}

.dialog-login-form__reset-password {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.05em;

    color: var(--accent);

    margin-top: 9px;
}

.dialog-login-form__reset-password:hover {
    cursor: pointer;
    user-select: none;
}

.notification-dialog {
    background-color: var(--accent);
    color: white;
    top: 200px;
}

.notification-dialog h1 {
    text-align: left;
}

.notification-dialog h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.06em;

    text-align: left;
    margin-bottom: 0;
}

/* Account Navbar menu */

.account-navbar-menu-exit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 30;
}

.account-navbar-menu-wrapper {
    position: fixed;
    top: -500px;
    height: fit-content;
    width: 35vw;
    z-index: 32;
}

.account-navbar-menu {
    position: fixed;
    top: -500px;
    padding: 31px 42px;

    height: fit-content;
    width: 35vw;
    opacity: 0;

    border-radius: 11px;

    background-color: white;
    pointer-events: all;

    z-index: 32;
}

.account-navbar-menu__text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.07em;

    color: var(--not-active);
}

.account-navbar-menu__info {
    font-weight: 500;
    color: black;
}

.account-navbar-menu__exit-menu {
    margin-top: 20px;

    display: flex;
    gap: 10px;
    align-items: stretch;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05em;

    color: var(--accent);
}

.account-navbar-menu__exit-menu:hover {
    cursor: pointer;
}