@media (max-width: 339px) {

	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0px 20px;
		margin-left: 32px;
		margin-right: 32px;
	}
	
	/* UI */

	#ui.grid {
		display: block;
		width: 100vw;
		height: 100vh;
		margin: 0;
	}

	.dialog {
    width: 320px;
		min-width: 320px;
    padding: 0;

    position: fixed;
    left: 50%;
    margin-left: -160px;
    top: 100px;

    z-index: 100;
	}

	.dialog-form__info {
		padding-bottom: 42px;
	}

	.account-navbar-menu-wrapper {
		display: flex;
		align-items: end;
		width: 100vw;
		height: 100vh;
		top: 0;
	}

	.account-navbar-menu {
		opacity: 1;
		width: 100vw;
		position: static;
	}

	.account-navbar {
		position: absolute;
		justify-content: start;
		gap: 0px 20px;
		padding-left: 32px;
		padding-right: 32px;
		margin: 0;
		width: 100%;
		height: 80px;
		left: 0;
		top: 0;
		border-radius: 0 0 11px 11px;
	}

	.account-navbar__image {
		display: none;
	}

	.account-navbar__text {
		min-width: 169px;
		margin-left: 10px;
	}

	.account-navbar__image-anchor {
		display: none;
	}

	.partitions-image__wrapper {
		justify-content: end;
		margin-left: auto;
		display: flex;
		height: fit-content;
	}

	.partitions-image {
		width: 100%;
	}

	.account-wrapper {
		width: 20vw;
	}

	.account-navbar__icon {
		height: 35%;
		margin-bottom: 5px;
		width: 9px;
	}

	.partitions-image {
		display: initial;
		height: 60%;
	}

	#nav {
		display: none;
		align-items: flex-start;
		width: 100vw;
		height: fit-content;
		background-color: var(--substrate);
		
	}

	.nav-wrapper {
		position: fixed;
		z-index: 99;
		background-color: var(--main-transparent);
		width: 100vw;
		height: 100vh;
		opacity: 0;
		pointer-events: none;
		overflow-y: scroll;
	}

	.navmenu {
		margin-left: 10%;
		margin-right: 4%;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		overflow: hidden;
	}

	.bracket-line {
		height: 17vh;
		min-height: 150px;
	}

	.navline {
		height: 13vh;
		min-height: 80px;
	}

	.navline, .bracket-line {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
		justify-self: center;
	}

	.nav-description__wrapper {
		display: block;
		grid-column: 2 / 2;
		grid-row: 1 / 3;
		height: fit-content;
		width: fit-content;
		align-self: end;
		margin-left: 15px;
		overflow: hidden;
	}

	.nav-description {
		display: block;
		font-family: 'Raleway', sans-serif;
		font-size: calc(15px + 5 * (100vw / 744));
		font-weight: 600;
		letter-spacing: 1px;
		min-width: fit-content;
	}

	.navpoint {
		grid-column: 1 / 1;
		grid-row: 2 / 2;
	}

	.navpoint, .navstar {
		width: 50px;
		height: 43px;
	}

	#point-6 {
		height: 0;
	}

	/* HEAD */

	#head {
		min-height: 800px;
		padding-top: 150px;
	}

	.head-coloriser {
		margin: 0 0 50px 0;
		border-radius: 0px 0px 40px 40px;
	}
	
	.title, .download-wrapper, .phone-wrapper {
		grid-column: 1 / 5;
	}

	.title {
		justify-content: flex-start;
		grid-row: 1 / 4;
		height: 25%;
		margin-left: 0;
		margin-right: -32px;
		border-radius: 45px 0 0 45px;
	}

	.title > img {
		width: 70vw;
		padding-left: 10%;
		padding-right: 2%;
	}

	.phone-wrapper {
		display: none;
	}

	#phone-1, #phone-2, #phones-mobile {
		display: none;
	}

	.download-wrapper {
		position: relative;
		left: 0;
		z-index: 1;
		display: flex;
		justify-content: center;
		z-index: 1;
		height: 30%;
		grid-row: 3 / 4;
		background-color: var(--back);
	}

	.download-description {
		height:max-content;
	}

	.download-anchor {
		height: 41px;
	}

	#horn {
		display: none;
	}

	/* WHAT IS */

	#what-is {
		height: fit-content;
		grid-template-rows: max-content max-content max-content;
		margin-bottom: 100px;
	}

	#what-is h2 {
		grid-column: 1 / 5;
		grid-template-rows: max-content max-content max-content;
		font-size: calc(28px + (36 + 36 * 0.7) * ((100vw - 320px) / 1440));
	}

	.phone__what-is__wrapper {
		margin-top: 35px;
		display: flex;
		grid-column: 1 / 5;
		justify-content: center;
	}

	#what-is p {
		grid-column: 1 / 5;
	}

	/* ADVANTAGES */

	#our-advantage {
		grid-template-rows: max-content max-content max-content;
	}

	#advantages {
		display: flex;
		grid-column: 1 / 5;
		grid-row: 3 / 4;
	}

	.description-item {
		width: 100%;
		height: fit-content;
	}

	.see-more-arrow {
		display: none;
	}

	#advantages dt {
		padding-top: 10%;
		padding-bottom: 7%;
	}

	#advantages dd {
		opacity: 1;
		height: fit-content;
		padding-bottom: 7%;
	}

	.overflow-wrapper {
		grid-column: 1 / 5;
	}

	.overflow-wrapper h2 {
		margin: 0;
		font-size: calc(28px + (36 + 36 * 0.7) * ((100vw - 320px) / 1440));
	}

	#our-advantage aside {
		display: flex;
		justify-content: center;
		grid-column: 1 / 5;
		grid-row: 2 / 3;
	}

	#phone-3 {
		width: 70%;
		margin-top: 70px;
		margin-bottom: 80px;
	}

	/* BUY TOKENS */

	.buy-tokens__content-wrapper {
		grid-column: 1 / 5;
		flex-direction: column;
	}

	#buy-tokens {
		height: fit-content;
		grid-template-rows: max-content max-content max-content;
	}

	.buy-tokens__title {
		grid-column: 1 / 5;
		margin-top: 100px;
	}

	.buy-tokens-form {
		width: 100%;
	}

	.tokens-description {
		margin-bottom: 25vh;
		margin-top: 30px;
		width: 100%;
	}

	/* TAIL */

	#tail {
		grid-template-rows: 100vw 0 300px 0;
		margin-bottom: -200px;
	}

	#tail-title {
		margin-top: 0;
		margin-right: -32px;
		height: 25%;
	}

	.tail__flex-wrapper {
		display: none;
	}

	#phone-4 {
		display: none;
	}

	#download-2 {
		width: 100%;
		justify-self: center;
		margin-top: -100px;
	}

	#download__buttons-wrapper .download__button:last-child {
		max-width: 110px;
	}

	/* FOOTER */

	.footer {
		margin-top: -370px;
	}

	.footer__name-market {
		grid-column: 1 / 5;
	}

	.footer__fund {
		grid-column: 1 / 5;
		margin-top: 30px;
		flex-wrap: wrap;
	}

	.footer__contacts {
		grid-column: 1 / 5;
	}

	.footer__company-data {
		grid-column: 1 / 5;
	}

	.footer__socip {
		grid-column: 1 / 5;
	}

}